@import '../../node_modules/@angular/material/_theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ac-primary: mat-palette($mat-deep-purple, 50, 100, 200);
$ac-accent:  mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ac-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ac-theme: mat-light-theme($ac-primary, $ac-accent, $ac-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ac-theme);
